table img {
 max-height: 100px;
 max-width: 66.6px;
}

table.list {
 max-width: 700px;
 margin: auto;
}

#divImg img {
 max-width: 100%;
 height:350px;
 border:solid 2px lightgrey;
}

#telaInicial {
  margin-top: 10%;
  align-items: center;
  max-width: 50%;
  margin-left: 25%;
}

#genero {
  margin-top: 10px;
  margin-bottom: 20px;
}

#dinamicTable {
  margin-top: 50px;
}

#sinopse {
  
}
