body {
  background-color: lightcyan;
}

table img {
 max-height: 100px;
 max-width: 66.6px;
}

table.list {
 max-width: 700px;
 margin: auto;
}

#divImg img {
 max-width: 100%;
 height:350px;
 border:solid 2px lightgrey;
}

#telaInicial {
  margin-top: 10%;
  align-items: center;
  max-width: 50%;
  margin-left: 25%;
}

#genero {
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 270;
}

#dinamicTable {
  margin-top: 50px;
}

#navBar {
    font-family: "Times New Roman", Times, serif;
    font-variant: small-caps;
    font-size: 2em;
}

#sel1 {
    font-family: "Shadow into light", serif;
}

#sinopse {
    font-family: "Roboto",sans-serif;
}

#overview {
    font-family: "Roboto",sans-serif;
    font-weight: 400;
}

#myModalLabel {
    font-family: "Roboto",sans-serif;
    font-weight: 1000;
}
